{{template "base" .}}

{{define "content"}}
        <div class="col">
            <p>This is Home Page</p>
           <p> This is comes from the template : {{index .StringMap "test"}}</p>
        </div>
{{end}}
 
    